.accordion-button:focus {
        box-shadow: none;
      
        
    }
    .accordion-button{
          border-top: 1px solid #dee2e6;
        
    }
    .accordion-item{
        margin-bottom: 10px;
    }
    .book-icon{
        color: rgb(96, 176, 212);
    }