.first-background{
.about{
font-size: 15px;
margin-bottom: 0%;
font-weight: 500;
}
.big-text{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0%;
}
.first-texts{
    font-size: 14px;
    margin-bottom: 3%;
    
}
}